div {
    /* la position absolute enlève les coordonnées de base des div  */
    position: absolute;
    width: 200px;
    height: 160px;
}

.s1 {
    background-color: blue;
}

.s2 {
    background-color: red;
    top:80px;
    left: 100px;
}


.s3 {
    background-color: green;
    top:160px;
    left: 200px;
}