* {
    margin: 0;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap:10px;
    margin: 25px auto 0 auto;
    width: 600px;
    height: 400px;
    background: #ededed;
}


div {
    width: 180px;
    height: 110px;
}

div:nth-of-type(even){
    background:pink;
}

div:nth-of-type(odd){
    background:palegreen;
}